body {
  /* Cores de texto */
  --text-white: #fff;
  --text-dark: #000;

  /* Cores de fundo */
  --bg-white: #fff;
  --bg-received: #e5e6e8;
  --bg-send: #085ff5;
  --bg-search: #fff;

  margin: 0;
  padding-bottom: 3rem;
  font-family: "Poppins";
  background-color: var(--bg-white);
  width: 100%;
  height: 100%;
}

.dark {
  --text-white: #fff;
  --text-dark: #fff;
  --bg-white: #15161b;
  --bg-received: #1a1b20;
  --bg-search: var(--bg-received);
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: var(--bg-white);
}

header img {
  width: 80px;
  height: 50px;
  
}

#myBtn {
  position: absolute;
  right: 40px;
  top: 25px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  color: var(--text-dark);
}

#users-btn {
  position: absolute;
  right: 80px;
  top: 25px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  color: var(--text-dark);
}

#connected-users{
  padding: 4px 6px 0;
  font-size: 18px;
  color: green;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#text-box {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  height: 30px;
  width: 70%;
  border-radius: 6px;
  margin: 0.25rem;
  background-color: var(--bg-search);
  color: var(--text-dark);
}

#text-box:focus {
  outline: none;
}

#form>button {
  background: #333;
  border: none;
  padding: 8px;
  margin: 0.25rem;
  border-radius: 3px;
  height: 30px;
  width: fit-content;
  outline: none;
  color: var(--text-white);
  cursor: pointer;
}

#messages {
  margin: 0;
  padding: 80px 10px 10px;
  display: flex;
  gap: 30px;
  padding-bottom: 70px;
  flex-direction: column;
}

::-webkit-scrollbar {
  left: -5px;
  width: 8px;
  background: none;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: #888;
  border: 5px solid var(--third-color-gray);
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: var(--bg-white);
}

/* Mensagens recebidas */

.received {
  display: flex;
  align-items: center;
  min-width: 50px;
  width: fit-content;
  padding: 5px;
  gap: 10px;
}

.image {
  width: 40px;
  height: 40px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 999px;
}

.content {
  background-color: var(--bg-received);
  border-radius: 10px;
  padding: 0px 10px;
  color: var(--text-dark);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.301);
}

.content h3{
  font-family: "Roboto";
  font-weight: 600;
}

.name {
  font-size: 14px;
  margin: 0;
  padding: 5px 0 3px;
}

.content p {
  font-size: 14px;
  margin: 0;
  padding: 3px 0;
}

.content span {
  float: right;
  font-size: 12px;
  padding-bottom: 5px;
  opacity: 0.8;
}

/* Imagens recebidas */

.img-content{
  background-color: rgb(172, 172, 172);
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.301);
  position: relative;
  padding: 3px;
}

.img-content h3{
  padding: 5px;
}

.img-content span{
  padding: 5px;
}

/* Mensagens enviadas */

.send-content {
  background-color: var(--bg-send);
  color: #fdfdfd;
  float: right;
  min-width: 50px;
  width: fit-content;
  border-radius: 10px;
  padding: 4px 10px;
}

.send-content p {
  font-size: 14px;
  margin: 0;
  padding: 3px 0;
}

.send-content p:first-letter,
.content p:first-letter {
  text-transform: uppercase;
}

.send-content span {
  float: right;
  font-size: 12px;
  padding-bottom: 5px;
  opacity: 0.8;
}

/* Imagens ennviadas */

#img-send{
  background-color: var(--bg-send);
  color: #fdfdfd;
  float: right;
  width: fit-content;
  border-radius: 10px;
  padding: 3px;
}

.img-send-content{
  display: flex;
  flex-direction: column;
  position: relative;
}

.img-send-content span,
.img-content span{
  text-align: right;
  font-size: 12px;
  opacity: 0.8;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
}

.img-send-content img,
.img-content img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

/* IMG Modal */

#imgModal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.img-modal-content{
  background-color: #fefefe;
  margin: 15% auto 0;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#img-form label{
  float: left;
}

/* Emoji Modal */

#emoji-modal{
  position: fixed;
  bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#emoji-container{
  background-color: var(--bg-received);
  width: fit-content;
  border-radius: 8px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  gap: 5px;
  flex-wrap: wrap;
}

#emoji-container button{
  background-color: var(--bg-white);
  border: none;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

/* Modal */

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--bg-search);
  color: var(--text-dark);
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#user-form,
#img-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.form-title{
  width: 200px;
}

.form-title h2{
  font-size: 16px;
  text-align: left;
}

.user-form-input input,
#img-form input {
  width: 200px;
  height: 30px;
  padding: 8px 16px;
  outline: none;
  border: 1px solid #000;
  border-radius: 6px;
}

.user-form-input,
.img-form-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

#user-form-submit,
#img-form-submit {
  width: 100px;
  height: 30px;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--bg-send);
}

#theme-container{
  display: flex;
  gap: 12px;
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.623);
}

.theme-option{
  display: flex;
  flex-direction: column;
}

.theme-option img{
  width: 100px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.313);
}

input[type=radio] {
  height: 1em;
  aspect-ratio: 1;
  border: calc(1em/8) solid #939393;
  padding: calc(1em/8);
  background: radial-gradient(farthest-side,var(--bg-send) 94%,#0000) 50%/0 0 no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(1em/10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: .3s;
}
input[type=radio]:checked {
  border-color: var(--bg-send);
  background-size: 100% 100%;
}

.theme-form{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Typing */

#typing_container{
  position: absolute;
  bottom: 30px;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 6px 10px;
}

#typing_container img{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50px;
}

#typing_container p{
  font-size: 24px;
  align-items: center;
  color: rgb(53, 50, 50);
}